<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.com.mobilete">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="br.com.mobilete.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name=".scenarios.main.MainActivity"
                android:label="Mobilete"
                android:theme="@style/AppThemeNoActionBar">
        </activity>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCSI878skniY0K4OdhOkKD9SPoIuDNgqGw"/>

        <activity
                android:name=".scenarios.usuario.LoginActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"
                android:theme="@style/AppThemeNoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                xmlns:tools="http://schemas.android.com/tools"
                android:name="com.facebook.FacebookActivity"
                android:exported="true"
                android:theme="@style/Translucent"
                tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".scenarios.usuario.CadastroUsuarioActivity"
                android:label="Mobilete - Novo Usuário">
        </activity>
        <activity
                android:name=".scenarios.anuncio.CadastroAnuncioActivity"
                android:label="Mobilete - Anúncio">
        </activity>
        <activity
                android:name=".scenarios.anuncio.MapaActivity"
                android:label="Mobilete - Mapa">
        </activity>
        <activity
                android:name=".scenarios.anuncio.MeusAnunciosActivity"
                android:label="Mobilete - Meus Anuncios">
        </activity>
        <activity
                android:name=".scenarios.anuncio.AnuncioActivity"
                android:label="Mobilete - Anuncios">
        </activity>
        <activity
                android:name=".scenarios.sobre.SobreActivity"
                android:label="Mobilete - Sobre">
        </activity>
        <activity
                android:name=".scenarios.usuario.PerfilActivity"
                android:label="Mobilete - Perfil">
        </activity>
        <activity
                android:name=".scenarios.anuncio.BuscaActivity"
                android:label="Mobilete - Busca">
        </activity>
    </application>

</manifest>